{% extends "base.html" %}

{% block content %}

<p>
<h2>
{{ department.name }} Public Records Request Information
</h2>
</p>

<p>
  Information about who to contact at each city office was compiled by hand
  from dozens of websites and may be incomplete or outdated. In some cases, the
  office in question didn’t list any public records contact at all. This is our
  best guess of who to contact. If you can help correct something or fill in
  missing information, please <a href='mailto:jds@riseup.net'>email John</a> or
  create an issue <a href='https://github.com/cowlicks/sunshine'>on GitHub</a>.
</p>

<p>
Feel free to use <a href="/email-template"> this template </a> which includes
all the legalese.
</p>


<table>
  <tr>
    <td> Email: </td>
    <td> <a href="mailto:{{ department.email }}?subject=Public Records Request&body=
{{ email_body }}
"> {{ department.email }} </a></td>
  </tr>
  <tr>
    <td> Name: </td>
    <td> {{ department.name }} </td>
  </tr>
  <tr>
    <td> Notes: </td>
    <td> {{ department.notes }} </td>
  </tr>
  <tr>
    <td> url: </td>
    <td><a href="{{ department.url }}">{{ department.url }}</a></td>
  </tr>
</table>

{% endblock %}
