{% extends "base.html" %}

{% block content %}

<p>
{{ department }} Public Records Request Information
</p>


<table>
  <tr>
    <td> Email: </td>
    <td> <a href="mailto:{{ department.email }}"> {{ department.email }} </a></td>
  </tr>
  <tr>
    <td> Name: </td>
    <td> {{ department.name }} </td>
  </tr>
  <tr>
    <td> Notes: </td>
    <td> {{ department.notes }} </td>
  </tr>
  <tr>
    <td> url: </td>
    <td><a href="{{ department.url }}">{{ department.url }}</a></td>
  </tr>
</table>

{% endblock %}
