{% extends "base.html" %}

{% block content %}

<a href="https://github.com/cowlicks/sunshine">
    <img style="position: absolute; top: 0; right: 0; border: 0;"
         src="{{ url_for('static', filename='media/fork-me-on-github.png') }}"
         alt="Fork me on GitHub (not tracking you)">
</a>

<h1>SunshineSF</h1>
<p>
    SunshineSF was created by a volunteer team of researchers, writers, and
    engineers dedicated to government and corporate transparency. This project
    will help you navigate the process of requesting important public records
    that are hidden away in a bureaucrat’s filing cabinet or email inbox using
    San Francisco’s
    <a href='http://sfbos.org/index.aspx?page=4459'>Sunshine Ordinance</a>.
</p>
<hr>

<input type="search" id="search-box" placeholder="Search departments...">

<hr>

<section>
    <div id="search-results">
        <ul>
        {% for name, dept in departments.items() %}
        <li> <a href="{{ dept.localurl }}">{{ name }}</a></li>
        {% endfor %}
        </ul>
    </div>
</section>

<hr>
<script src="{{ url_for('static', filename='js/search.js') }}"></script>
{% endblock %}
