{% extends "base.html" %}

{% block content %}
<h2> Reuest data from San Francisco city government </h2>
<hr>

<input type="search" id="search-box" placeholder="Search departments...">

<hr>

<section>
    <div id="search-results">
        <ul>
        {% for name, dept in departments.items() %}
        <li> <a href="{{ dept.localurl }}">{{ name }}</a></li>
        {% endfor %}
        </ul>
    </div>
</section>

<hr>
<script src="{{ url_for('static', filename='js/search.js') }}"></script>
{% endblock %}
